<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.faruke.background_location_tracer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service android:name=".LocationService" />
    </application>
</manifest>
